@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}

body{
    color: rgba(255, 255, 255, 0.4);
    background: #222;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
    animation: Smoke 2s linear 1;
}
:root{
    --Text-color1:#bac964;
    --box-bgcolor:#2d2c2c;
    --download-bgcolor:#6c757d;
    --boxdark-bgcolor:#55595d;
    --primary-Color:#bac964;
    --secondary-Color:#6c757d;
    --grey-Color:#6c757d;
    --buttonBG-color:#008080;
}

@keyframes Smoke {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* flex class for reuse */
.flex-complete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: #d8efd3;
}

/* Navbar -------------*/
nav {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 99;
}
nav .links {
  display: flex;
  align-items: center;
  gap: 100px;
}

/* link line hover */
.link {
  position: relative;
  color: #eeedeb;
}

.link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fefefe;
  transform-origin: bottom right;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

.link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
/* end here */


.action_btn {
  background-color: #008080;
  color: #212529;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  letter-spacing: 1px;
}

.action_btn:hover {
  scale: 1.05;
  color: #66CCCC;
  border: 1px solid #fff;
  background-color: transparent;
}
.action_btn:hover {
  scale: 0.92;
}

.navbar .toggle_btn {
  position: absolute;
  right: 20px;
  display: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 999;
}

/* Header */
header {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  height: 120vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(Images/img5grey.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 99;
}

.dropdown_bar {
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2),
    -10px -10px 15px rgba(255, 255, 255, 0.2);
}

.open {
  display: block;
  height: 420px;
  animation-name: slowSpin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
@keyframes slowSpin {
  0%{
    height: 0;
  }
  100%{
    height: 420px;
  }
}

.dropdown_bar li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_bar .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dropdown_bar .action_btn:hover {
  color: white;
}

/* Header introduction content  */

header .intro {
  font-weight: 100;
  width: 80vw;
  color: white;
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: italic 3.4vw "Roboto", sans-serif;
}
header .intro p:first-child {
  font-weight: 100;
}
header .intro p:nth-child(3) {
  font-size: 1.9vw;
}
header .intro h2 {
 transition: color 0.5s ease;
}
header .intro h2:hover {
  cursor: pointer;
 color: var(--buttonBG-color);
}

/* My Resume section ---------- */
/* My Resume section ---------- */
.Resume-outer {
  padding: 5rem 0;
  text-align: center;
}

.heading {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
}

.heading span {
  font-weight: 400;
}

.MyResume {
  padding: 1rem;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

.Edu-Certi {
  max-width: 75%;
  margin-top: 50px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some gap between flex items */
}

.Edu-Certi .Education {
  flex: 1 1 calc(50% - 20px); /* Make each .Education take up half the width minus the gap */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add some gap between flex items */
}

.Education h2 {
  margin-bottom: 10px;
}

.Edu-Box {
  border: 2px solid #fff;
  margin-bottom: 24px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--box-bgcolor);  
  flex: 1 1 calc(50% - 20px); 
  box-sizing: border-box;

}

.Edu-Box span:last-child {
  margin-top: 5px;
}

.Edu-Box span:first-child {
  font-weight: 600;
}

.Edu-Box span:first-child i {
  margin-right: 10px;
}

.Edu-Box > h3 {
  color: var(--Text-color1);
}

.Download {
  background-color: var(--download-bgcolor);
}

.Download:hover {
  color: white;
}

.light-Para {
  opacity: 0.4;
}

.hireMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* About Me Section -------------------------*/
.aboutMe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 6rem 0 4rem 0 ;
}
.aboutBox{
  width: 75vw;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.aboutBox .about1 img{
  width: 400px;
  height: 350px;
  border-radius: 15px;
  transition: all 1s ease-in-out;
}
.aboutBox .about1{
  margin: 0px auto;
}
.aboutBox .about2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.FlexFix{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  gap: 15px;
}

/* My skills section---------------- */
.section{
  height: 100%;
  padding: 4rem 50vw; /*Edit this to decrease the space between box's*/
  color: white;
  display: flex;
  justify-content: center;
}

.MySkill-section{
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.container{
  padding: auto 12rem;
  width: 100%;
  min-width: 90vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.container h3{
  font-size: 2rem;
  letter-spacing: 8px;
}
.container h3 + p{
  font-size: 1em;
  margin-top: 20px;
  opacity: 0.8;
}

.row{
  padding: 2rem;
  text-align: center;
}

.row-outer{
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 500;
  position: relative;
}
.row-inner{
  width: 100%;
  border-radius: 5px 50px 50px 5px;
  height: 15px;
  background-color: grey;
}
.row-inner .inner-progress span{  
  position: absolute;
  font-size: 29px;
  right: 20px;
  bottom: 15px;
}
.inner-progress{
  height: 100%;
  border-radius: 5px 50px 50px 5px;
  background-color: orange;
}

.row-skill-box{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 5rem;
  padding-top: 2rem;
}
.row-skill-box h2{
  margin-left: 10px;
}

/* Progress bar width ---- */
/* these are the inner progress id's */
#HTML-progress{
  width: 90%;
}
#css-progress{
  width: 80%;
}
#javascript-progress{
  width: 70%;
}
#bootstrap-progress{
  width: 85%;
}
#sql-progress{
  width: 80%;
}
#python-progress{
  width: 60%;
}
#Github-progress{
  width: 80%;
}
#Responsive-progress{
  width: 90%;
}
/* End here --- */


/* Project section -------------- > */
.project-row{
  gap: 30px;
}
.project-row a{
  overflow: hidden;
}

.Project-box{
  overflow: hidden;
  height: 290px;
  width: 430px;
  display: flex;
  flex-direction: column;
  filter: grayscale(100%);
  transition: all 1s ease;
  /* gap: 20px; */
  /* box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.08), -1px -1px 15px rgba(255, 255, 255, 0.01); */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6), -10px -10px 15px rgba(0, 0, 0, 0.6);
}
.Project-box:hover{
  overflow: hidden;
  filter: grayscale(0%);
  transform: scale(1.05);
  z-index: 33;
}

.Project-box-1{
  background: url(Project-img/Band.png) center center/cover no-repeat; /*Done*/
}
.Project-box-2{
  flex-grow: 1;
  background: url(Project-img/NetFlix.png) center/cover no-repeat;
}
.Project-box-3{
  flex-grow: 1;
  background: url(Project-img/Portfolio.png) center/cover no-repeat; /*Done*/
}
.Project-box-4{
  background: url(Project-img/FormValidation.png) center/cover no-repeat; /*Done*/
}
.Project-box-5{
  flex-grow: 1;
  background: url(Project-img/TechCompany.png) center/cover no-repeat; /*Done*/
}
.Project-box-6{
  background: url(Project-img/PlateForma.png) center/cover no-repeat; /*Done*/
}

.MoreProjectBtn{
  width: 200px;
  margin-left: 5rem;
}
/*Form section starts from here  */
.form-container{
  display: flex;
}
.Form-section .container .row h3 span{
  font-weight: 100;
}
.Form-boxs{
  padding: 5rem;
  padding-top: 2rem;
  display: flex;
  gap: 80px;
}

.form-box-h2{
  font-weight: 100;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto;
  margin-bottom: 20px;
}

.form-box{
  width: 60%;
  padding: 1rem;
}

form button{
  height: 50px;
  margin-top: 20px;
}
form div input, textarea{
  width: 100%;
  padding: 20px ;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: var(--box-bgcolor);
  color: white;
  transition: all 0.5s ease;
  margin-top: 20px;
}
form div input:focus, textarea:focus{
  background-color: var(--boxdark-bgcolor);
}
::placeholder{
  font-size: 20px;
  color: var(--secondary-Color);
  padding: 5px;
}

.detail-box{
  width: 40%;
}

.detail-box div p:nth-child(2n+1){
  color: #2c3e50;
}

.detail-box div p:nth-child(Even){
  margin-bottom: 40px;
  color: var(--secondary-Color);
}

.upArrow{
  position: absolute;
  right: 60px;
  top: -40px;
  animation: shakei 1s alternate infinite;
  color: white;
  /* display: inline-block; */
}
.upArrow i{
  font-size: 50px;
  transition: all 0.8s ease;
}
.upArrow i:hover{
  color: var(--buttonBG-color);
  cursor: pointer;
}

@keyframes shakei {
  0%{
   top: -40px; 
  }
  100%{
    top: 0px;
  }
}


/* Footer ----------- ------------ -------- */
footer{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 5rem;
}

footer p{
  font-size: 1rem;
}
footer div{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer div a i{
  font-size: 35px;
  color: white;
  cursor: pointer;
  transition: all 0.8s ease;
}

footer div a i:hover{
  transform: scale(1.5);
  color: #008080;
}